html {
  background-color: #D7E7B0;
}
body{
	
}
header{
	text-align: center;
	text-decoration: none;
	font-family: arial;
	font-size: 3em;
}
img{
	left: 2em;
	top:2em;
	width: 10em;
	height: 12em;
	border: solid black .25em;
	float: left;
	margin-right: 1em;
	
p{
	text-align: left;
	font-family: serif;
	font-size: 1.5em;
}


	
	
}




} 
}